<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<body>


    <% @lists.each do |list| %>

      <tr>
        <tr><%= list.list_name %></tr>


         <td><%= link_to 'Edit', controller: 'lists', action: "edit", id: list.list_name %></td>

         <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <br>
    <% end %>


</body>

<br>

<%= link_to 'New List', new_list_path %>
<%= link_to 'Home', home_path %>

