<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @list.list_name %>
  <% @lists.each do |list| %>


     <% @email_subscribers.each do |email_subscriber| %>
         <% if @list_name == email_subscriber.list_name %>
          <label><%= email_subscriber.name %></label>
          <label><%= email_subscriber.email %></label>
        <% end %>
     <% end %>
    <% end -%>
</p>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
