<!DOCTYPE html>
<html>
<head>
    <title>Article View</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div id = "body-container">
    <div id = "mainDisplay">
        <div id = "headDisplay">
        <% @title_arr.each do |e| %>
              <%=  e  %>
        <% end -%>
        </div>
        <div id = "articleBody">
            <% @body_arr.each do |e| %>
              <%=  e  %>
            <% end -%>
        </div>
        <div id = "articleImages">
        <% @all_urls.each do |u| %>
        <% Nokogiri::HTML(open(u.url)).xpath("//img/@src").each do |src| %>
            <% uri = URI.join( u.url, src ).to_s %>

            <img src=<%=uri%> style = "height: 100px; width: 100px;">
        <%end%>
    <%end%>
        </div>
    </div>
    <div id = "sideTools">
        <div id = "emailList">
            <div id="col-header">
                <h3>Email List</h3>


            </div>
            <ul id = "email_lists">
            <% @lists.each do |list| %>
                <li><label><input id=<%= list.list_name %> type="checkbox" value=<%= list.list_name %> ><%= list.list_name %></label></li>
            <% end -%>
            </ul>
            <input id="list_checkboxes" type="button" value="Email Blast"/>
        </div>
        <div id = "comments">
            <div id="col-header">
            <h3>Comments</h3>

            </div>

            <div id="comments_section">
                <ul id="comments_list">
                    <% @all_comments.each do |c| %>
                        <li><span id="commentUsername"><%= c.username %></span><br> <%= c.comment %><br> <%= c.created_at %> </li>
                    <% end %>


                </ul>
            </div>
            <div id = "comment_submit">

                <%= form_for Comment.new do |f| %>

                  <div hidden class="field">
                    <%= f.label :username %>
                    <%= f.text_field :username, required: true, value: @user.username %>
                  </div>

                  <div class="comment_in_form">
                  <br>
                    <%= f.label :comment %>
                    <%= f.text_field :comment %>
                  </div>

                  <div hidden class="field">
                    <%= f.label :url %>
                    <%= f.text_field :url, required: true, value: @test_url.url %>
                  </div>

                  <div class="actions">
                    <%= f.button :submit, name: "comment_text", value: "comment" %>
                  </div>
                <% end %>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    alert('yo');
    var list_arr = <%= raw @lists.to_json %>;
    alert(list_arr.list_name);
    var list_name_arr = [];
    for(var i = 0; i < list_arr.length; i++) {
        list_name_arr.push(list_arr[i]["list_name"]);
        alert(list_name_arr[i]);
    };
    var checked_arr = [];

    $(document).ready(function() {
        alert('jquery');
        $("body").on("click", "#list_checkboxes", function () {
            for (var i = 0; i < list_name_arr.length; i++) {
                if(document.getElementById(list_name_arr[i]).checked) {
                    checked_arr.push(list_name_arr[i]);
                    alert("checked " + list_name_arr[i])
                };
            };
        });
    });
</script>
</body>

</html>