<!DOCTYPE html>
<html>
<head>
    <title>Article View</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div id = "body-container">
    <div id = "mainDisplay">
        <div id = "headDisplay">
        <% @article_arr = params[:checked_arr] %>
        <% @article_arr.each do |e| %>
            <% @response = Typhoeus.get(e, ssl_verifyhost: 0) %>
            <% @body = Nokogiri::HTML(@response.body) %>
            <%= @select = @body.xpath('//title') %>
            <br>
        <% end -%>
        </div>
        <div id = "articleBody">
            <% @article_arr.each do |e| %>
            <% @response = Typhoeus.get(e, ssl_verifyhost: 0) %>
            <% @body = Nokogiri::HTML(@response.body) %>
            <% @select_text = @body.xpath('//a/@href') %>
            <% @select_text.each do |href| %>
                <%= href %>
                <br>
                <% end %>
            <br>
            <% end -%>

        </div>
        <div id = "articleImages">
        <% @article_arr.each do |u| %>

            <% @response = Typhoeus.get(u, ssl_verifyhost: 0)%>
            <% @body = Nokogiri::HTML(@response.body) %>
            <% @body.xpath("//img/@src").each do |src| %>
             <% uri = URI.join( u, src ).to_s %>

            <img src=<%=uri%> style = "height: 100px; width: 100px;">
            <%end%>
        <%end%>

        </div>
<!--         <%= link_to 'Back', filtered_view_path %>
 -->    </div>
    <div id = "sideTools">
        <div id = "emailList">
            <div id="col-header">
                <h3>Email List</h3>


            </div>
            <ul id = "email_lists">
            <% @lists.each do |list| %>
                <li><label><input id=<%= list.list_name %> type="checkbox" value=<%= list.list_name %> ><%= list.list_name %></label></li>
            <% end -%>
            </ul>


            <input id="list_checkboxes" type="button" value="Email Blast"/>
            <label id = 'checked_arr'></label>


        </div>
        <div id = "comments">
            <div id="col-header">
            <h3>Comments</h3>

            </div>

            <div id="comments_section">
                <ul id="comments_list">
                    <% @all_comments.each do |c| %>
                        <li><span id="commentUsername"><%= c.username %></span><br> <%= c.comment %><br> <%= c.created_at %> </li>
                    <% end %>


                </ul>
            </div>
            <div id = "comment_submit">

                <%= form_for Comment.new do |f| %>

                  <div hidden class="field">
                    <%= f.label :username %>
                    <%= f.text_field :username, required: true, value: @user.username %>
                  </div>

                  <div class="comment_in_form">
                  <br>
                    <%= f.label :comment %>
                    <%= f.text_field :comment %>
                  </div>

                  <div hidden class="field">
                    <%= f.label :url %>
                    <%= f.text_field :url, required: true, value: @test_url.url %>
                  </div>

                  <div class="actions">
                    <%= f.button :submit, name: "comment_text", value: "comment" %>
                  </div>
                <% end %>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var list_arr = <%= raw @lists.to_json %>;
    var list_name_arr = [];
    for(var i = 0; i < list_arr.length; i++) {
        list_name_arr.push(list_arr[i]["list_name"]);
    };
    var checked_arr = [];

        $(document).ready(function() {
        $("body").on("click", "#list_checkboxes", function () {
            for (var i = 0; i < list_name_arr.length; i++) {
                if(document.getElementById(list_name_arr[i]).checked) {
                    checked_arr.push(list_name_arr[i]);
                };
            };

            alert('before ajax');
            $.ajax({
                url: '/email_display',
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: { checked_arr },

                success: function() {
                    alert('success');
                }
            });


        });
    });

</script>
</body>

</html>