<!DOCTYPE html>
<html>
<head>
    <title>Article Select</title>
</head>
<body>

<% if @parent = params[:parent] %> <!-- #all of the checkmarked parent websites -->
    <%  @titles = Array.new  %>
    <%  @filted_articles = Array.new %>
    <%  @all_child_data = Array.new %>

    <%  @articles_return = Array.new %> <!-- #array for all of the filtered urls to be added to -->
    <%  if @keyword = params[:keyword] %>
    <%    @r1 = Regexp.new(@keyword.downcase) %> <!-- #create regular exp -->
    <%  end %>
    <%   @parent.each do |e| %>
    <%    @response = Typhoeus.get(e, ssl_verifyhost: 0) %>
    <%    @body = Nokogiri::HTML(@response.body) %>
    <%    @select_text = @body.xpath("//a/@href")  %>  <!-- #Grabs all href's within a tags within url -->
    <%    @select_text.each do |href| %>
    <%    href = href.to_s %>
    <%    if (/http/ =~ href) != nil  %>   <!-- # If it contains http -->
    <%    if (/.jpg/ =~ href) == nil && (/.png/ =~ href) == nil %><!--  # If it doesn't contain .jpg or .png -->
    <%     @response = Typhoeus.get(href, ssl_verifyhost: 0) %><!--  # makes a request to the href http tag within url -->
    <%     @child_body = Nokogiri::HTML(@response.body) %> <!--  # gets the html of the url -->
    <%      @all_p_tags = @child_body.xpath("//body//p").inner_html %>
    <%      @all_p_tags.force_encoding(Encoding::UTF_8) %>
    <%      if !@all_p_tags.valid_encoding? %>
                  <%  for i in (0...@all_p_tags.size) %>
                   <%   if !@all_p_tags[i].valid_encoding? %>
                    <%  @all_p_tags[i]="?" %>
                    <% end %>
                   <% end %>
                  <% end %>

                 <% if (@r1 =~ @all_p_tags) != nil %>
                 <!-- create hash for child  -->
    <%                @title = @child_body.xpath("//title").inner_html %>
    <%                @child_url = href %>
    <%                @date_response = Faraday.head(href) %>
    <%                @temp = @date_response['Last-Modified'] %>
    <%                if @temp.present? %>
    <%                  @child_date = @temp %>
    <%                end %>
    <%                @hash = {:title => @title, :body => @all_p_tags, :url => @child_url, :date => @child_date.to_s} %>
    <%                @all_child_data.push(@hash) %>
    <%            end %>
    <%          end %>
    <%        end %>
    <%      end %>
    <%    end %>
    <%  end %>
<div id = "article_list">
<tr>
    <% @all_child_data.each do |match| %>
    <label>
    <tr>
       <h2> <%= match[:title] %> </h2>
        <%= match[:body] %><br>
        <%= match[:url] %> <br>
        <%= match[:date] %>
        <%= check_box_tag 'all_child_data', match %> Select this article for further viewing?
    </tr>
    </label>
    <% end %>

</tr>
<br>
<br>
<br>
<br>
<button id="to_listicle_view"> Review Selected Articles </button> <br>

<%= link_to 'Back', url_for(:back) %>
</div>
<script type="text/javascript">
    // var url_name_arr = [];
    // for(var i = 0; i < all_child_data.length; i++) {
    //     url_name_arr.push(all_child_data[i][:]);
    // };
    var checked_arr = [];
        $(document).ready(function() {
        $("body").on("click", "#to_listicle_view", function() {
            $('input:checkbox[id=all_child_data]:checked').each(function() {
                checked_arr.push(this.value);
            })
            $.ajax({
                url: 'article_display',
                type: 'POST',
                format: 'html',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: { checked_arr },
                success: function() {
                }
            })
    });
});

</script>
</body>
</html>