<!DOCTYPE html>
<html>
<head>
    <title>Filtered View</title>
</head>
<body>
<h2>Articles that matched your search results:</h2>
<% @r1 = Regexp.new(params[:keyword]) %>
<% @checked_urls = params[:checked_urls] %>
<div id="checked_list">
 <% @checked_urls.each do |u| %>
    <% u %>
    <br>
 <% end %>
<h2>Select which articles to view:</h2>




<% @articles_return = Array.new %>
<% @checked_urls.each do |e| %>
    <% @response = Typhoeus.get(e, ssl_verifyhost: 0) %>
    <% @body = Nokogiri::HTML(@response.body) %>
    <% @select_text = @body.xpath("//a/@href") %>
    <% @select_text.each do |href| %>
        <% if (/http/ =~ href) != nil %>
            <% if ( @r1 =~ href) != nil %>
                <% if (/.jpg/ =~ href) == nil && (/.png/ =~ href) == nil %>
                    <% @articles_return.push(href.to_s) %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<% @articles_uniq = @articles_return.uniq %>
<% @titles = Array.new %>
<% @articles_uniq.each do |article| %>
    <% @response_articles = Typhoeus.get(article, ssl_verifyhost: 0) %>
    <% @body_article = Nokogiri::HTML(@response_articles.body) %>
    <% if (@titles.include? @body_article.xpath("//title").inner_text) == false %>
        <% @flag = true %>
        <% @titles.push(@body_article.xpath("//title").inner_text) %>
    <% else %>
        <% @flag = false %>
    <% end %>
    <% if @flag %>
        <% @response = Faraday.head(article) %>
        <% @last = @response['Last-Modified'] %>
        <label><input id=<%= article %> type="checkbox" value=<%= article%> ><%= @titles.last %> <%= @last %></label>
    <% end %>
<% end %>


<button id="send_to_article_display">Display Articles</button>
<%= link_to 'Back', list_view_path %>

 </div>
 <script type="text/javascript">
    alert(document.lastModified);
    var articles_list_arr = <%= raw @articles_uniq.to_json %>;
    alert("articles in uniq array: " + articles_list_arr);
    var articles_name_arr = [];
    for(var i = 0; i < articles_list_arr.length; i++) {
        articles_name_arr.push(articles_list_arr[i]);
    };
    var article_arr = [];
    alert("article names: " + articles_name_arr);

        $(document).ready(function() {
        $("body").on("click", "#send_to_article_display", function () {

            for (var i = 0; i < articles_name_arr.length; i++) {
                if (document.getElementById(articles_name_arr[i]).checked) {
                    alert("added" + articles_name_arr[i]);
                    article_arr.push(articles_name_arr[i]);
                };
            };

            alert('before ajax');
            $.ajax({
                url: '/article_display',
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: { article_arr },

                success: function() {
                    alert('success');
                }
            })
    });
});

</script>
</body>
</html>