<!DOCTYPE html>
<html>
<head>
    <title>App Home</title>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>


</head>
<body>

    <div id="navbar">
        <div id="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
        </div>
            <h1 class = "add_url_link"> <%= link_to "Add URL", urls_path%></h1>
            <h2 class = "add_keyword"> <%= link_to "Add a Keyword to be Searched", keywords_path%></h2>
            <h1 class = "sign_out"> <%= link_to "Sign Out", login_path %></h1>

    </div>

    <div id="sidebar">
        <div id="sidebar-profile">
            <img class="sidebarPic" id="user_pic">
            <h3 id='name_from_profile'></h3>
        </div>


        <ul class=sidebarLinks>
            <li><a href="home"> <%= image_tag("homeIcon.png", id: "navbarImg") %> Home <%= image_tag("homeIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="profile"> <%= image_tag("profileIcon.png", id: "navbarImg") %> Profile <%= image_tag("profileIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="manage"> <%= image_tag("manageIcon.png", id: "navbarImg") %> Manage <%= image_tag("manageIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="search"> <%= image_tag("searchIcon.png", id: "navbarImg") %> Search <%= image_tag("searchIcon.png", class: 'hiddenImg') %></a></li>


            <li><a href="graphs"> <%= image_tag("graphsIcon.png", id: "navbarImg") %> Graphs <%= image_tag("graphsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="settings"> <%= image_tag("settingsIcon.png", id: "navbarImg") %> Settings <%= image_tag("settingsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="payment"> <%= image_tag("paymentIcon.png", id: "navbarImg") %> Payment <%= image_tag("paymentIcon.png", class: 'hiddenImg') %></a></li>

        </ul>

    </div>





    </div>
    <div id="body-container">
        <div id="topHeader">
            <h2>Home</h2>

        </div>
        <div id="col1">
            <div id="col-header">
                <h3>Current Websites</h3>
            </div>
            <div id="currentLinks">
            <pre>
                <%= @all_urls.each do |u| %>
                    <%= u.url %>
                <% end -%>

            </pre>

            </div>
        </div>
        <div id="col2">
            <div id="col-header">
                <h3>Live Feed</h3>
            </div>
            <div id="liveFeed">
            <pre>
            <%= @title_arr.each { |e| e } %>



            </pre>

            </div>
        </div>
        <div id="col3">
            <div id="col-header">
                <h3>Stats</h3>
            </div>
            <div id="recentStats">
            <%= @data %>
            </div>
        </div>
    </div>


<script type="text/javascript">
     var profile = sessionStorage.getItem("profile");
     var profile_obj = JSON.parse(profile);
     document.getElementById("user_pic").src = profile_obj.picture_large;
     document.getElementById("name_from_profile").innerHTML = profile_obj.name;


     FB.getLoginStatus(function(response) {
         if (response.status === 'connected') {
            alert('')
            var accessToken = response.authResponse.accessToken;
         }
     });

</script>


</body>
</html>



