<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h3>Articles:</h3>
    <div id="search_list_view">
    <input id='search_text' type="search_text" name="Search Articles">
    <button id="to_article_view">View/Edit Articles</button>
    <%= button_to "Add Websites", new_url_path  %>


</div>
<div id="search_container">
    <div id="search_side_bar_list_view">

    </div>
    <div id="articles_list_view">
    <% @urls.each do |u| %>
    <label><input id=<%= u.url %> type="checkbox" value=<%= u.url %> ><%= u.url %></label>
    <%end%>
    </div>
    <div id="articles_filtered_list_view">

    <% if @all_child_data = params[:child_data] %>
        <%= @all_child_data[0][:title] %>
        <p>made it</p>
    <% end %>

   <ul id= "child_list">

   </ul>


    </div>
</div>
<script type="text/javascript">
var url_list_arr = <%= raw @urls.to_json %>;
    var url_name_arr = [];
    for(var i = 0; i < url_list_arr.length; i++) {
        url_name_arr.push(url_list_arr[i]["url"]);
    };
    var checked_arr = [];

        $(document).ready(function() {
        $("body").on("click", "#to_article_view", function () {
            var keyword = document.getElementById("search_text").value;
            for (var i = 0; i < url_name_arr.length; i++) {
                if(document.getElementById(url_name_arr[i]).checked) {
                    alert("added" + url_name_arr[i]);
                    checked_arr.push(url_name_arr[i]);
                };
            };

            $.ajax({
                url: '/list_view',
                type: 'POST',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: { checked_arr, keyword },

                success: function() {
                    alert('success');
                    window.location.reload();
                    alert('reloaded');
                    var all_child_data = <%= raw @all_child_data.to_json %>;
                    var parent = <%= raw @parent.to_json %>;
                    var p_tags = <%= raw @all_p_tags.to_json %>;

                    alert(all_child_data);
                    alert(parent);
                    alert(p_tags);
                    // var ul = document.getElementById("list");
                    // for (int i = 0; i < all_child_data.length; i++) {
                    //     var li = document.createElement("li");
                    //     li.appendChild(document.createTextNode(all_child_data[i]));
                    //     ul.appendChild(li);
                    // }

                }
            })

            // $.ajax({
            //     url: '/list_view'
            //     type: 'GET',
            //     beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            //     data: {  }
            // })
    });
});

</script>
</body>
</html>