<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>

<h3>Continue to Home Page</h3>


<%= link_to "Home Page", home_path %>

<br></br>

<%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email  %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.submit "Login", class: "btn-primary" %>
<% end -%>

<br></br>


<div hidden id = "home_page_button"><%= link_to "Home Page", home_path %>
</div>
</script>
</body>
</html>