<!DOCTYPE html>
<html>
<head>
    <title>App Manage</title>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

    <div id="navbar">
        <div id="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </div>

    <div id="sidebar">
        <div id="sidebar-profile">
            <img class="sidebarPic" src="person.jpg">
            <h3>Jonathan King</h3>
        </div>


        <ul class=sidebarLinks>
            <li><a href="home"> <%= image_tag("homeIcon.png", id: "navbarImg") %> Home <%= image_tag("homeIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="profile"> <%= image_tag("profileIcon.png", id: "navbarImg") %> Profile <%= image_tag("profileIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="manage"> <%= image_tag("manageIcon.png", id: "navbarImg") %> Manage <%= image_tag("manageIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="search"> <%= image_tag("searchIcon.png", id: "navbarImg") %> Search <%= image_tag("searchIcon.png", class: 'hiddenImg') %></a></li>


            <li><a href="graphs"> <%= image_tag("graphsIcon.png", id: "navbarImg") %> Graphs <%= image_tag("graphsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="settings"> <%= image_tag("settingsIcon.png", id: "navbarImg") %> Settings <%= image_tag("settingsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="payment"> <%= image_tag("paymentIcon.png", id: "navbarImg") %> Payment <%= image_tag("paymentIcon.png", class: 'hiddenImg') %></a></li>

        </ul>

    </div>





    </div>
    <div id="body-container">
        <div id="topHeader">
            <h2>Manage</h2>
        </div>
        <div id="manageBox">
            <div id="websiteName">
                <div id="manageHeader">
                    <h4>Website Name</h4>
                </div>
            </div>
            <div id="websiteURL">
                 <div id="manageHeader">
                    <h4>Website URL</h4>
                </div>
            </div>
            <div id="overallMentions">
                 <div id="manageHeader">
                    <h4># of Mentions</h4>
                </div>
            </div>
            <div id="tagSearches">
                 <div id="manageHeader">
                    <h4># of Keyword Tags</h4>
                </div>
            </div>
                <div id="lastMention">
                 <div id="manageHeader">
                    <h4>Last Mention</h4>
                </div>
            </div>
            <div id="frequency">
                <div id="manageHeader">
                    <h4>Frequency</h4>
                </div>
            </div>
            <div id="active">
                <div id="manageHeader">
                    <h4>Active?</h4>
                </div>
            </div>
            <div id="actions">
                <div id="manageHeader">
                    <h4>Actions</h4>
                </div>
            </div>
        </div>
    </div>

</body>
</html>