<!DOCTYPE html>
<html>
<head>
    <title>App Profile</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="global.js"></script>
</head>
<body>

    <div id="navbar">
        <div id="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </div>

    <div id="sidebar">
        <div id="sidebar-profile">
            <img class="sidebarPic" src="person.jpg">
            <h3>Jonathan King</h3>
        </div>
        <ul class=sidebarLinks>
            <li><a href="home"> <%= image_tag("homeIcon.png", id: "navbarImg") %> Home <%= image_tag("homeIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="profile"> <%= image_tag("profileIcon.png", id: "navbarImg") %> Profile <%= image_tag("profileIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="manage"> <%= image_tag("manageIcon.png", id: "navbarImg") %> Manage <%= image_tag("manageIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="search"> <%= image_tag("searchIcon.png", id: "navbarImg") %> Search <%= image_tag("searchIcon.png", class: 'hiddenImg') %></a></li>


            <li><a href="graphs"> <%= image_tag("graphsIcon.png", id: "navbarImg") %> Graphs <%= image_tag("graphsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="settings"> <%= image_tag("settingsIcon.png", id: "navbarImg") %> Settings <%= image_tag("settingsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="payment"> <%= image_tag("paymentIcon.png", id: "navbarImg") %> Payment <%= image_tag("paymentIcon.png", class: 'hiddenImg') %></a></li>

        </ul>

    </div>





    </div>
    <div id="body-container">
        <div id="topHeader">
            <h2>Profile</h2>
        </div>
        <div id="profilePic">
            <img class="profilePic" src="#">
        </div>
        <div id="socialMedia">
            <h1>Jonathan King</h1>
            <ul class=socialMediaLinks>
                <li><img src="#" id="socialMediaIcons"></li>
                <li><img src="#" id="socialMediaIcons"</li>
                <li><img src="#" id="socialMediaIcons"</li>
            </ul>
        </div>

        <div id="editInfo">
            <div class="panel-group">
                <div class="panel panel-default">



                    <!-- Change Username Section -->
                    <div class="panel-heading">
                        <h4 class="panel-title" id="panel1">
                        <a data-toggle="collapse" href="#collapse1">
                            <span id="expand1" class="glyphicon glyphicon-chevron-right"></span>&nbsp;Change Username</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">A</li>
                            <li class="list-group-item">B</li>
                        </ul>
                    </div>




                       <!-- Change Password Section -->
                    <div class="panel-heading">
                        <h4 class="panel-title" id="panel2">
                        <a data-toggle="collapse" href="#collapse2">
                            <span id="expand2" class="glyphicon glyphicon-chevron-right"></span>&nbsp;Change Password</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">Old Password:
                            <input type="passowrd" class="form-control" id="oldPassword"</li>
                            <li class="list-group-item">New Password:
                             <input type="passowrd" class="form-control" id="newPassword"</li>
                            <li class="list-group-item">Confirm Password:
                             <input type="passowrd" class="form-control" id="confirmPassword"</li>
                        </ul>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <script>
        var profile = sessionStorage.getItem("profile");
        var profile_obj = JSON.parse(profile);

        document.getElementById("result").innerHTML = profile;
        document.getElementById('user_pic').src = profile_obj.picture_large;
        document.getElementById("name_from_profile").innerHTML = profile.name;
    </script>
</body>
</html>