<!DOCTYPE html>
<html>
<head>
    <title>App Home</title>
<!--     <link rel="stylesheet" type="text/css" href="main.css">
 -->    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
</head>
<body>

    <div id="sidebar">
        <div id="sidebar-profile">
            <%= image_tag(:picture, class: 'sidebarPic')%>
            <h3>Jonathan King</h3>
        </div>
        <ul class=sidebarLinks>
            <li><a href="#"> <%= image_tag("homeIcon.png", id: "navbarImg") %> Profile <%= image_tag("homeIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="#"> <%= image_tag("profileIcon.png", id: "navbarImg") %> Profile <%= image_tag("profileIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="#"> <%= image_tag("manageIcon.png", id: "navbarImg") %> Manage <%= image_tag("manageIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="#"> <%= image_tag("searchIcon.png", id: "navbarImg") %> Manage <%= image_tag("searchIcon.png", class: 'hiddenImg') %></a></li>


            <li><a href="#"> <%= image_tag("graphsIcon.png", id: "navbarImg") %> Manage <%= image_tag("graphsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="#"> <%= image_tag("settingsIcon.png", id: "navbarImg") %> Manage <%= image_tag("settingsIcon.png", class: 'hiddenImg') %></a></li>

            <li><a href="#"> <%= image_tag("paymentIcon.png", id: "navbarImg") %> Manage <%= image_tag("paymentIcon.png", class: 'hiddenImg') %></a></li>

        </ul>

        <div id="sidebar-btn">
        <span></span>
        <span></span>
        <span></span>
        </div>

    </div>





    </div>
    <div id="body-container">
        <div id="live-feed">
            <div id=live-feed-header>
                 <h2>Live Feed</h2>
            </div>
        </div>
        <div id="current-sources">
            <div id="current-sources-header">
                <h2>Current Websites</h2>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#sidebar-btn').click(function() {
                $('#sidebar').toggleClass('visible');
                $('#body-container').toggleClass('visible');
                $('.hiddenImg').toggle();
            });
        });



    </script>


</body>
</html>